body {
    background-color: #F2E7D5;
}
footer {
    background-color : #A3C7D6; 
    width: fit-content; 
    height: 100px;
    text-align: center;
}
div{
    background-color: #FFD6EC;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
}
button{
    background-color: #FFD6EC;
    border: none;
    border-radius: 5px;
}
hr{
    width: 10%;
    height: 0px;
    color: #294049;
    border-style: dotted none none;
    border-width: 5px;
}
h1{
    font-family: inherit;
    color: #C32BAD;
    font-size: 50px;
}
h3{
    font-family: inherit;
    color: #C32BAD;
    font-size: 40px;
}
p{
    font-family: inherit;
    font-size: 15px;
}