*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #EFF5F5;
}
.main-nav {
    display: flex;
    position: fixed;
    z-index: 2;
    height: max-content;
    width: 100%;
    background-color: #EB6440;
}
    
.main-nav .navcon {
    margin-right: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 3px;
}
footer {
    background-color : #A3C7D6; 
    width: 100%; 
    height: 100px;
    text-align: center;
    position: center;   
}
div{
    background-color: #D6E4E5;
    text-align: center;
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    box-shadow: 20px 20px 20px #497174;
    height: 90%;
    width: 60%;
    position: relative;
    left: 20%; right:25%;
}
hr{
    width: 10%;
    height: 0px;
    color: #294049;
    border-style: dotted none none;
    border-width: 5px;
    position: center;
    margin-bottom: 20px;
}
h1{
    font-family: inherit;
    color: #497174;
    font-size: 50px;
    position: center; 
    margin-top: 30px;
}
h3{
    font-family: inherit;
    color: #497174;
    font-size: 5.0px;
    position: center;  
}
p{
    font-family: inherit;
    font-size: 15px;
    position: center; 
}
label{
    font-family: inherit ;
    font-size: 20px;
}
input{
    height: 30px;
    width: 20em;
    border: none;
    border-radius: 15px;
    margin-left: 2px ;
    text-align: start;
    outline-style: hidden ;
    margin-top: 20px;
}
.logn{
    width: 80%;
    height: 30px;
    background-color: #EB6440;
    text-align: center;
    margin-right: 200px;
    margin-bottom: 20px;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 5%; top: 5%;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
    text-justify: auto;
    font-size: 24px;
    font-weight: 100;
}
a:hover{
    color: #9C254D;
    transition:  color 0.25s;
    
}
.main-nav .navcon:hover{
    color: #9C254D;
    transition:  color 0.25s;
}
input:focus{
    width: 85%;
    border-color: aqua;
}
.main-nav .search_bar{
    margin-left: auto;
    width: 30%;
    margin-top: 5px;
    text-indent: 2em; 
}
